<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%> 
<body>
  <%- include('./partials/header')%> 
  <main>
    <!--aca va el carrusel--> 
    <div>
      <img class="imagen-carrusel" src="/images/AORUS-logo.jpg">
    </div>
    <h1 id="categoria-index">Ofertas</h1>
    <div class="row g-2">

        <% products.forEach(product => { %>
          <% if (product.condition_id == 2) { %>
                
      <div class="col-md-3">
          <div class="product-card">
              <a href="productos/<%= product.id%>">
                <div class="img-container">
                  <div class="d-flex justify-content-between align-items-center p-2 first"><img src="/images/products/<%= product.image_main%>" class="img-fluid"></div> 
              </div>
              </a>
              <div class="product-detail-container">
                  <div class="d-flex justify-content-between align-items-center" id="name_price">
                      <h5 class="mb-0"><%= product.name%></h5> <span class="text-danger font-weight-bold">$<%= (product.price * (100 - product.discount))/100 %></span>
                  </div>
                  <span id="price" ><strike>$<%= product.price %></strike></span>
                  <article class="product-description mt-3"><%= product.description%> </article>
                  <div class="mt-3 "> <a href="productos/<%= product.id%>"><button class="btn btn-secondary btn-block">Ver detalle</button></a> </div>

              </div>
          </div>
      </div>
      <% } %>
      <% }) %>
    </div>
      <h1 id="categoria-index">Ultimos productos vistos</h1>
     
         
     <div class="row g-2">
      <% products.forEach(product => { %>
         
        <% if (product.condition_id == 1) { %> 
        
                
        <div class="col-md-3">
          <div class="product-card">
              <a href="productos/<%= product.id%>">
                <div class="img-container">
                  <div class="d-flex justify-content-between align-items-center p-2 first"><img src="/images/products/<%= product.image_main%>" class="img-fluid"></div> 
              </div>
              </a>
              <div class="product-detail-container">
                  <div class="d-flex justify-content-between align-items-center" id="name_price">
                      <h5 class="mb-0"><%= product.name%></h5> <span class="text-danger font-weight-bold">$<%= (product.price * (100 - product.discount))/100 %></span>
                  </div>
                  <span id="price" ><strike>$<%= product.price %></strike></span>
                  <article class="product-description mt-3"><%= product.description%> </article>
                  <div class="mt-3 "> <a href="productos/<%= product.id%>"><button class="btn btn-secondary btn-block">Ver detalle</button></a> </div>

              </div>
          </div>
      </div>
      <% } %>
        <% }) %>
    </div> 
  </main>

  <%- include('./partials/footer')%> 
</body>
</html>
