<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')  %> 

<body>

  <%- include('../partials/header')  %> 
<!--      --------------------------                    REGISTER FORM                -------------------------------                  //-->

<div class="container">

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
	        <h4 class="card-title mt-3 text-center">Ingresar</h4>
	        <p class="d-flex">
		        <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Continuar con Google</a>
		        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>  Continuar con Facebook</a>
	        </p>
	        <p class="divider-text">
                <span class="bg-light"></span>
            </p>
	        <form method="POST" action="/usuarios/iniciar-sesion">
<!-- form-group// -->
                <div class="form-group input-group">
    	            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
                    </div>
                    <input name="email" class="form-control" placeholder="Correo Electronico" type="email" value="<%= locals.oldData? oldData.email : null%>">
                </input>
                </div> 
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                     <%= errors.email.msg %> 
                    </div>
                   <% } %>
<!-- form-group// -->
                
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Ingresar contraseña" type="password" name="password" >
                </div> 
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                     <%= errors.password.msg %> 
                    </div>
                   <% } %>
<!-- form-group// -->       
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" value="Enviar"> Ingresar  </button>
                </div> 
<!-- form-group// -->      
                <p class="text-center">¿Olvido su contraseña? <a href="/usuarios/registro">Click aqui</a></p>                                                                 
            </form>
        </article>
    </div>
</div> 

<!--FOOTER//-->

<%- include('../partials/footer.ejs')  %> 

</body>
</html>