<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %> 

<body>

  <%- include('../partials/header.ejs')  %> 

<!--REGISTER FORM//-->

<div class="container">

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
	        <h4 class="card-title mt-3 text-center">Crear Nueva Cuenta</h4>
	        <p class="d-flex">
		        <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Continuar con Google</a>
		        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Continuar con Facebook</a>
	        </p>
	        <p class="divider-text">
                <span class="bg-light"></span>
            </p>
	        <form action="/usuarios/registro" method="POST" enctype="multipart/form-data" id="formRegister">

                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                     <%= errors.name.msg %> 
                    </div>
                   <% } %>
                
	            <div class="form-group input-group">
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user "></i></span>
		            </div>
                    <input  class="form-control <%= locals.errors && errors.name? 'is-invalid':null %>" placeholder="Nombre" type="text" name="name" id="name"  value="<%= locals.oldData? oldData.name : null%>">
                    <small id="error-name" class="errorsSmall"></small>
                </div> 

                
                <% if (locals.errors && errors.lastname) { %>
                    <div class="text-danger">
                     <%= errors.lastname.msg %> 
                    </div>
                   <% } %>


                <div class="form-group input-group">
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user "></i></span>
		            </div>
                    <input  class="form-control <%= locals.errors && errors.lastname? 'is-invalid':null %>" placeholder="Apellido" type="text" id="lastname" name="lastname"  value="<%= locals.oldData? oldData.lastname : null%>">
                    <small id="error-lastname" class="errorsSmall"></small>
                </div> 

                <div class="form-group input-group">
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user "></i></span>
		            </div>
                    <input  class="form-control <%= locals.errors && errors.address? 'is-invalid':null %>" placeholder="Dirección" type="text" id="address" name="address"  value="<%= locals.oldData? oldData.address : null%>">
                    <small id="error-address" class="errorsSmall"></small>
                </div> 



                <div class="form-group input-group">
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user "></i></span>
		            </div>
                    <input  class="form-control <%= locals.errors && errors.number? 'is-invalid':null %>" placeholder="Número" type="number" id="number" name="number"  value="<%= locals.oldData? oldData.number : null%>">
                    <small id="error-number" class="errorsSmall"></small>
                </div> 


                <div class="form-group input-group">
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user "></i></span>
		            </div>
                    <input  class="form-control <%= locals.errors && errors.city? 'is-invalid':null %>" placeholder="Ciudad" type="text" id="city" name="city"  value="<%= locals.oldData? oldData.city : null%>">
                    <small id="error-city" class="errorsSmall"></small>
                </div> 

                <div class="form-group input-group">
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user "></i></span>
		            </div>
                    <input  class="form-control <%= locals.errors && errors.zipCode? 'is-invalid':null %>" placeholder="Código postal" type="text" id="zipCode" name="zipCode"  value="<%= locals.oldData? oldData.zipCode : null%>">
                    <small id="error-zipCode" class="errorsSmall"></small>
                </div> 



                <div class="form-group input-group">
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user "></i></span>
		            </div>
                    <input  class="form-control <%= locals.errors && errors.province? 'is-invalid':null %>" placeholder="Provincia" type="text" id="province" name="province"  value="<%= locals.oldData? oldData.province : null%>">
                    <small id="error-province" class="errorsSmall"></small>
                </div> 


                <div class="form-group input-group">
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user "></i></span>
		            </div>
                    <input  class="form-control <%= locals.errors && errors.country? 'is-invalid':null %>" placeholder="País" type="text" id="country" name="country"  value="<%= locals.oldData? oldData.country : null%>">
                    <small id="error-country" class="errorsSmall"></small>
                </div> 

                
<!-- form-group// -->

                <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                <%= errors.email.msg %> 
                </div>
                <% } %>

                <div class="form-group input-group">
    	            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
                    </div>
                    <input  class="form-control <%= locals.errors && errors.email? 'is-invalid':null %>" placeholder="ejemplo@email.com" type="email" id="email" name="email"  value="<%= locals.oldData? oldData.email : null%>">         
                    <small id="error-email" class="errorsSmall"></small>
                </div> 
<!-- form-group// -->

                <% if (locals.errors && errors.phone) { %>
                    <div class="text-danger">
                     <%= errors.phone.msg %> 
                    </div>
                   <% } %>

                

                <div class="form-group input-group">
    	            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		            </div>
    	            <input  class="form-control <%= locals.errors && errors.phone? 'is-invalid':null %>" placeholder="Telefono" type="text" name="phone" id="phone"  value="<%= locals.oldData? oldData.phone : null%>">
                    <small id="error-phone" class="errorsSmall"></small>
                 </div> 

                
<!-- form-group// -->

                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                    <%= errors.password.msg %> 
                    </div>
                <% } %>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control <%= locals.errors && errors.password ? 'is-invalid':null %>" placeholder="Crear contraseña" type="password" name="password" id="password" >
                    <small id="error-password" class="errorsSmall"></small>
                </div> 

                <% if (locals.errors && errors.passwordConfirmation) { %>
                    <div class="text-danger">
                    <%= errors.passwordConfirmation.msg %> 
                    </div>
                <% } %>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control <%= locals.errors && errors.passwordConfirmation? 'is-invalid':null %>" placeholder="Reescriba su contraseña" type="password" name="passwordConfirmation" id="passwordConfirmation" >
                    <small id="error-confirmPassword" class="errorsSmall"></small>
                </div> 

                <input type="checkbox" id="ver" name="ver" onChange="verPassword()">Ver contraseña
                <script src="/javascripts/JsFrontPassword.js"></script>
<!-- form-group// -->

                <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger">
                    <%= errors.avatar.msg %> 
                    </div>
                <% } %>

                <div class="form-group input-group">
    	            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fas fa-portrait"></i> </span>
		            </div>
    	            <input  class="form-control <%= locals.errors && errors.avatar? 'is-invalid':null %> " type="file" name="avatar" id="avatar">

                </div> 

                <script src="/javascript/validacionesFront.js"></script>
                <section class="errores">
                    <div class="errores-txt"></div>
                    <ul>

                    </ul>
                </section>
<!-- form-group// -->                                      
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" value="Enviar"> Crear Cuenta  </button>
                </div> 
<!-- form-group// -->      
                <p class="text-center">¿Ya tiene una cuenta? <a href="/usuarios/iniciar-sesion">Ingresar</a></p>                                                                 
            </form>
        </article>
    </div>
</div> 

<!--FOOTER//-->

<%- include('../partials/footer.ejs')  %> 

</body>
</html>