<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')  %> 
<body>
    <!--header//-->
    <%- include('../partials/header.ejs')  %> 
    
    <main>
       
         
       
        <div class="container-fluid">
            <h2 class="p-2"><%= product.name%></h2>
        
            <div class="d-inline-flex p-2 w-100 ">
                <div class="w-75 ">
                    <section>
                        <img src="/images/products/<%= product.image_main%>" alt="Responsive image" class="img-fluid img-thumbnail">
                    </section>
                </div>

                        
                <div class="flex-column w-75 p-1">
                <div id="detail-name">
                    <h2 class="p-2"><%= product.name%></h2>
                <section>
                    <div id="price-discount"><h2 class="p-2">$<%= (product.price * (100 - product.discount))/100 %></h2>
                        <h5 class="p-1"><%= product.discount%>% OFF</h5></div>
                        <h5 class="p-1" id="price"><strike>$<%= product.price%></strike></h5>
                </section>
                </div>
                 
                
                <p class="p-1">Paga en <%= product.fees%> cuotas sin interes</p>
                <p class="p-1">Retiro gratis en los locales del vendedor</p>

                <% if (user) { %>
                 
               
                <div class="p-1 ">  
                        
                    <a href="/productos/<%= product.id%>/edit"><button href="/" class="btn btn-primary w-100 p-2">Editar producto</button></a>
                </div>
                <div class="p-1 ">
                    <form action="/productos/eliminar/<%= product.id%>?_method=DELETE" method="POST" >
                        <button class="btn btn-primary w-100 p-2">Borrar producto</button>
                    </form>
                </div>
                <% } %>
                <div class="p-1 ">
                    <button class="btn btn-primary w-100 p-2">Comprar ahora</button>
                </div>
                <div class="p-1 ">
                    <button class="btn btn-primary w-100 p-2">Agregar al carrito</button>
                </div>
                
                
            </div>
            </div>
           
        </div>

        <div class="container-fluid">
            <article class="">
                <%= product.description%>
            </article>
        </div>

    </main>

    <!--fotter//-->
    <%- include('../partials/footer.ejs')  %> 

</body>
</html>