<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>

    <main>
        <div class="container">
            <form action="/productos/edit/<%= product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-25">
                  <label for="fname"><%= product.name%></label>
                </div>
                <div class="col-75">
                  <input class="input-forms" type="text" id="name" name="name" value="<%= product.name%>">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="lname">Precio</label>
                </div>
                <div class="col-75">
                  <input class="input-forms" type="number" id="price" name="price" value="<%= product.price%>">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="lname">Descuento</label>
                </div>
                <div class="col-75">
                  <input class="input-forms" type="number" id="discount" name="discount" value="<%= product.discount%>">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="category">Categoria</label>
                </div>
                <div class="col-75">
                  <select id="category" name="category_id">
                    <% category.forEach(categories => { %>
                      <option value="<%= categories.id%>" <%= (categories.id == product.category_id)? "selected" : null  %> > <%= categories.category%> </option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="category">Condición</label>
                </div>
                <div class="col-75">
                  <select id="condition" name="condition_id">
                    <% condition.forEach(conditions => { %>
                      <option value="<%= conditions.id%>" <%= (conditions.id == product.condition_id)? "selected" : null  %> > <%= conditions.condition_name%> </option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="Descripcion">Image del producto</label>
                </div>
                <div class="col-75">
                    <input type="file" id="file" name="image">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="Descripcion">Descripcion del producto</label>
                </div>
                <div class="col-75">
                  <textarea id="Descripcion" name="description" style="height:200px"><%= product.description%></textarea>
                </div>
              </div>
              <div class="p-1 ">
                <button class="btn btn-primary w-100 p-2" type="submit">Crear</button>
            </div>
            </form>
          </div>  
    </main>

    <%- include('../partials/footer')%> 
</body>
</html>